/*--primary colors--*/
$primary-color: #344955;
$secondary-color: #f9aa33;
$tertiary-color: #232f34;
$complementary-color: #4a6572;

/*--white--*/
$white-default: #f5f0f1;
$white-light: #ffffff;
$white-dark: #ede4e5;

/*--black--*/
$black-default: #121111;
$black-dark: #0a0909;
$black-light: #1c1b1b;

/*--gray--*/
$gray-3: #444444;

/*--gray-2--*/
$gray-2: #2c2c2c;

/*--gray-7--*/
$gray-7: #a3a3a3;

/*--gray-8--*/
$gray-8: #fbfafa;
