//font-family: 'Be Vietnam Pro', sans-serif;
.container.header {
  &::after {
    display: none;
  }
}
.header {
  padding: calculator-rem(24) calculator-rem(0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: $tertiary-color;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;

    &--lio {
      color: $secondary-color;
    }
  }

  &__nav {
    &--menu {
      display: flex;
      align-items: center;

      &--link {
        margin-right: 24px;

        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: calculator-rem(18);
        line-height: 120%;

        &:last-child {
          margin-right: 0;
        }

        a {
          &:hover {
            color: $secondary-color;
            transition: 0.5s ease;
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    .icon-sun {
      @include before-icon("\e908", 24px, $secondary-color) {
        margin-left: calculator-rem(32);
        cursor: pointer;
      }
      transition: 0.3s;
      animation: animeted-sun 0.5s ease infinite alternate;
    }
    @keyframes animeted-sun {
      to {
        transform: translateY(-5px);
      }
    }
  }
}
