.hero {
  display: flex;
  justify-content: space-between;

  margin-top: calculator-rem(64);

  &__headline {
    //width: 48%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: calculator-rem(64);
      line-height: 120%;
      color: $black-dark;
    }

    h3 {
      margin-top: calculator-rem(48);
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: calculator-rem(18);
      line-height: 120%;
      color: $gray-3;

      img {
        max-width: calculator-rem(32);
        display: inline-block;
      }
    }

    &--wrapper {
      margin-top: calculator-rem(48);
      display: flex;
    }
  }

  &__email {
    display: flex;
    align-items: flex-end;

    a {
      font-style: normal;
      font-weight: 700;
      font-size: calculator-rem(16);
      line-height: calculator-rem(19);
      color: $complementary-color;
      transition: 0.3 ease;

      writing-mode: vertical-lr;

      position: relative;

      &:hover {
        color: $secondary-color;
      }

      &::after {
        content: url(/assets/svg/line-email.svg);
        position: absolute;
        display: block;
        left: 15%;
        bottom: calculator-rem(-175);
        pointer-events: none;
      }
    }
  }
}

.container.hero {
  flex-direction: row;
}

.arrow-down {
  .icon-arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calculator-rem(48);

    @include before-icon("\e90a", 32px, $black-dark) {
      margin-left: calculator-rem(32);
      cursor: pointer;
    }
    transition: 0.3s;
    animation: animate-icon-arrowdown 0.5s ease infinite alternate;
  }
}

.skills-content {
  margin: calculator-rem(124) auto;
  max-width: $container-l;
  padding-top: calculator-rem(0);
  padding-right: calculator-rem(16);
  padding-bottom: calculator-rem(0);
  padding-left: calculator-rem(16);

  &--wrapper {
    padding: 0 16px;
    .section-description {
      width: 61%;

      font-style: normal;
      font-weight: 500;
      font-size: calculator-rem(18);
      line-height: 120%;
      color: $gray-2;

      margin-top: calculator-rem(32);
    }

    h3 {
      margin-top: calculator-rem(40);
      font-style: normal;
      font-weight: 700;
      font-size: calculator-rem(40);
      line-height: 120%;
      color: $tertiary-color;
    }
  }

  &__card-content {
    &--item {
      background-color: $gray-8;
      padding-top: calculator-rem(0);
      padding-right: calculator-rem(38);
      padding-bottom: calculator-rem(24);
      padding-left: calculator-rem(38);
      margin-top: calculator-rem(40);

      &--wrapper {
        display: flex;
        justify-content: space-between;

        .figma {
          @include before-icon("\e917", 32px, $secondary-color) {
          }
        }

        .code {
          @include before-icon("\e90d", 32px, $secondary-color) {
          }
        }

        .star {
          @include before-icon("\e934", 32px, $secondary-color) {
          }
        }

        .icon-arrow-right {
          @include before-icon("\e902", 24px, $primary-color) {
            display: block;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: calculator-rem(18);
          }
        }
      }
      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: calculator-rem(24);
        line-height: 120%;
        color: $tertiary-color;
        margin-top: calculator-rem(12);
      }

      p {
        font-style: normal;
        font-weight: 600;
        font-size: calculator-rem(14);
        line-height: 120%;
        color: $gray-3;
        margin-top: calculator-rem(12);
      }
    }
  }
}

.experience-content {
  &__card-content {
    display: flex;
    justify-content: space-between;
    margin-top: calculator-rem(40);
    &--item {
      padding-top: calculator-rem(37);
      padding-bottom: calculator-rem(37);
      padding-left: calculator-rem(44);
      padding-right: calculator-rem(44);
      background-color: $gray-8;

      h4 {
        font-style: normal;
        font-weight: 800;
        font-size: calculator-rem(24);
        line-height: 120%;
        color: $tertiary-color;
        margin-top: calculator-rem(40);
      }
      &--empresa {
        display: inline-block;
        font-style: normal;
        font-weight: 700;
        font-size: calculator(16);
        line-height: 120%;
        color: $tertiary-color;
        margin-top: calculator-rem(16);
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: calculator-rem(18);
        line-height: 120%;
        color: $gray-3;
        margin-top: calculator-rem(24);
      }

      &--date {
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: calculator-rem(14);
        line-height: 120%;
        color: $gray-3;
        margin-top: calculator-rem(40);
      }

      &--wrapper {
        position: relative;

        .experience-circle {
          width: calculator-rem(29);
          height: calculator-rem(29);
          background-color: $tertiary-color;
          opacity: 0.3;
          border-radius: 50%;
        }

        .experience-icon {
          position: absolute;
          top: -48%;
          left: 3.4%;
        }

        .monitor {
          @include before-icon("\e92b", 32px, $tertiary-color) {
          }
        }

        .figmaicon {
          @include before-icon("\e917", 32px, $tertiary-color) {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.portfolio {
  max-width: $container-l;

  &__cards {
    display: flex;

    &--wrapper {
      margin-top: calculator-rem(40);

      img {
        width: 100%;
        height: 285px;
        object-fit: cover;
      }

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: calculator-rem(24);
        line-height: 120%;
        color: $gray-2;
        margin-top: calculator-rem(32);
      }

      strong {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: calculator-rem(16);
        line-height: 120%;
        color: $gray-7;
        margin-top: calculator-rem(16);
      }
    }
  }
}
