.hero {
  display: flex;
  justify-content: space-between;

  margin-top: calculator-rem(64);

  &__headline {
    //width: 48%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: calculator-rem(64);
      line-height: 120%;
      color: $black-dark;
    }

    p {
      margin-top: calculator-rem(48);
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: calculator-rem(18);
      line-height: 120%;
      color: $gray-3;

      img {
        max-width: calculator-rem(32);
        display: inline-block;
      }
    }

    &--wrapper {
      margin-top: calculator-rem(48);
      display: flex;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    &--seta {
      @include before-icon("\e90a", 24px, $black-dark) {
        margin-left: calculator-rem(32);
        cursor: pointer;
      }
      transition: 0.3s;
      animation: animate-icon-seta 0.5s ease infinite alternate;

      @keyframes animate-icon-seta {
        to {
          transform: translateY(-5px);
        }
      }
    }
  }

  &__email {
    display: flex;
    align-items: flex-end;

    a {
      font-style: normal;
      font-weight: 700;
      font-size: calculator-rem(16);
      line-height: calculator-rem(19);
      color: $complementary-color;
      transition: 0.3 ease;

      writing-mode: vertical-lr;

      position: relative;

      &:hover {
        color: $secondary-color;
      }

      &::after {
        content: url(/assets/svg/line-email.svg);
        position: absolute;
        display: block;
        left: 15%;
        bottom: calculator-rem(-175);
        pointer-events: none;
      }
    }
  }
}

.container.hero {
  flex-direction: row;
}

.experience {
  margin: calculator-rem(72) auto;
}
