*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/*--primary colors--*/
/*--white--*/
/*--black--*/
/*--gray--*/
/*--gray-2--*/
/*--gray-7--*/
/*--gray-8--*/
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.ttf.css");
  src: url("./fonts/icomoon.eot.css") format("embedded-opentype"), url("./fonts/icomoon.woff.css") format("woff");
}
body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #1c1b1b;
}

li {
  list-style: none;
}

.section-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  /* or 77px */
  color: #0a0909;
}

.section-title-img {
  max-width: 38px;
  display: inline-block;
}

.icon {
  width: 61px;
  height: 84px;
  background-color: #344955;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-1 {
  width: calc(8.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-1 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-2 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-3 {
  width: calc(25% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-3 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-4 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-5 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-6 {
  width: calc(50% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-6 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-7 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-8 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-9 {
  width: calc(75% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-9 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-10 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-11 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.grid-12 {
  width: calc(100% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-12 {
    float: none;
    width: calc(100% - 24px);
    margin: 12px;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .hero__headline {
    width: 100%;
  }
}
.hero__headline h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: #0a0909;
}
.hero__headline h3 {
  margin-top: 3rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #444444;
}
.hero__headline h3 img {
  max-width: 2rem;
  display: inline-block;
}
.hero__headline--wrapper {
  margin-top: 3rem;
  display: flex;
}
.hero__email {
  display: flex;
  align-items: flex-end;
}
.hero__email a {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #4a6572;
  transition: 0.3 ease;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  position: relative;
}
.hero__email a:hover {
  color: #f9aa33;
}
.hero__email a::after {
  content: url(/assets/svg/line-email.svg);
  position: absolute;
  display: block;
  left: 15%;
  bottom: -10.9375rem;
  pointer-events: none;
}

.container.hero {
  flex-direction: row;
}

.arrow-down .icon-arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  transition: 0.3s;
  -webkit-animation: animate-icon-arrowdown 0.5s ease infinite alternate;
          animation: animate-icon-arrowdown 0.5s ease infinite alternate;
}
.arrow-down .icon-arrow-down::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e90a";
  font-size: 32px;
  color: #0a0909;
  font-style: normal;
  margin-left: 2rem;
  cursor: pointer;
}

.skills-content {
  margin: 7.75rem auto;
  max-width: 1220px;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}
.skills-content--wrapper {
  padding: 0 16px;
}
.skills-content--wrapper .section-description {
  width: 61%;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #2c2c2c;
  margin-top: 2rem;
}
.skills-content--wrapper h3 {
  margin-top: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  color: #232f34;
}
.skills-content__card-content--item {
  background-color: #fbfafa;
  padding-top: 0rem;
  padding-right: 2.375rem;
  padding-bottom: 1.5rem;
  padding-left: 2.375rem;
  margin-top: 2.5rem;
}
.skills-content__card-content--item--wrapper {
  display: flex;
  justify-content: space-between;
}
.skills-content__card-content--item--wrapper .figma::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e917";
  font-size: 32px;
  color: #f9aa33;
  font-style: normal;
}
.skills-content__card-content--item--wrapper .code::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e90d";
  font-size: 32px;
  color: #f9aa33;
  font-style: normal;
}
.skills-content__card-content--item--wrapper .star::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e934";
  font-size: 32px;
  color: #f9aa33;
  font-style: normal;
}
.skills-content__card-content--item--wrapper .icon-arrow-right::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e902";
  font-size: 24px;
  color: #344955;
  font-style: normal;
  display: block;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1.125rem;
}
.skills-content__card-content--item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  color: #232f34;
  margin-top: 0.75rem;
}
.skills-content__card-content--item p {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 120%;
  color: #444444;
  margin-top: 0.75rem;
}

.experience-content__card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.experience-content__card-content--item {
  padding-top: 2.3125rem;
  padding-bottom: 2.3125rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  background-color: #fbfafa;
}
.experience-content__card-content--item h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 120%;
  color: #232f34;
  margin-top: 2.5rem;
}
.experience-content__card-content--item--empresa {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: calculator(16);
  line-height: 120%;
  color: #232f34;
  margin-top: 1rem;
}
.experience-content__card-content--item p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #444444;
  margin-top: 1.5rem;
}
.experience-content__card-content--item--date {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  color: #444444;
  margin-top: 2.5rem;
}
.experience-content__card-content--item--wrapper {
  position: relative;
}
.experience-content__card-content--item--wrapper .experience-circle {
  width: 1.8125rem;
  height: 1.8125rem;
  background-color: #232f34;
  opacity: 0.3;
  border-radius: 50%;
}
.experience-content__card-content--item--wrapper .experience-icon {
  position: absolute;
  top: -48%;
  left: 3.4%;
}
.experience-content__card-content--item--wrapper .monitor::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e92b";
  font-size: 32px;
  color: #232f34;
  font-style: normal;
}
.experience-content__card-content--item--wrapper .figmaicon::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e917";
  font-size: 32px;
  color: #232f34;
  font-style: normal;
  font-weight: bold;
}

.portfolio {
  max-width: 1220px;
}
.portfolio__cards {
  display: flex;
}
.portfolio__cards--wrapper {
  margin-top: 2.5rem;
}
.portfolio__cards--wrapper img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__cards--wrapper h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  color: #2c2c2c;
  margin-top: 2rem;
}
.portfolio__cards--wrapper strong {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  color: #a3a3a3;
  margin-top: 1rem;
}

.btn {
  cursor: pointer;
  border: none;
  width: 148px;
  height: 54px;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #232f34;
}

.btn-primary {
  background-color: #f9aa33;
  transition: 0.5s ease;
}
.btn-primary:hover {
  filter: brightness(0.9);
}

.btn-secundary {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.btn-secundary::after {
  display: inline-block;
  font-family: "icomoon";
  content: "\e904";
  font-size: 24px;
  color: #232f34;
  font-style: normal;
  margin-left: 0.5rem;
}

.container.header::after {
  display: none;
}

.header {
  padding: 1.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: #232f34;
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}
.header__logo--lio {
  color: #f9aa33;
}
.header__nav--menu {
  display: flex;
  align-items: center;
}
.header__nav--menu--link {
  margin-right: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
}
.header__nav--menu--link:last-child {
  margin-right: 0;
}
.header__nav--menu--link a:hover {
  color: #f9aa33;
  transition: 0.5s ease;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__wrapper .icon-sun {
  transition: 0.3s;
  -webkit-animation: animeted-sun 0.5s ease infinite alternate;
          animation: animeted-sun 0.5s ease infinite alternate;
}
.header__wrapper .icon-sun::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e935";
  font-size: 24px;
  color: #f9aa33;
  font-style: normal;
  margin-left: 2rem;
  cursor: pointer;
}
@-webkit-keyframes animeted-sun {
  to {
    transform: translateY(-5px);
  }
}
@keyframes animeted-sun {
  to {
    transform: translateY(-5px);
  }
}

.footer {
  background-color: #232f34;
  height: 572px;
}
.footer__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
.footer__left img {
  width: 7.75rem;
  height: 7.75rem;
  border-radius: 50%;
  border: 4px solid #f9aa33;
}
.footer__left h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: #fbfafa;
  margin-top: 0.75rem;
}
.footer__left span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #a3a3a3;
  margin-top: 0.75rem;
}
.footer__left p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #a3a3a3;
  margin-top: 1.5rem;
}
.footer__left--socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.footer__left--socials .social-icon {
  width: 3.5625rem;
  height: 3.5625rem;
  background-color: #344955;
  opacity: 0.3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.footer__left--socials .social-icon:hover {
  transform: translateY(-5px);
}
.footer__left--socials .social-icon:hover:before {
  color: #f9aa33;
}
.footer__left--socials .instagram {
  transition: 0.5 ease;
}
.footer__left--socials .instagram::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e924";
  font-size: 24px;
  color: #fbfafa;
  font-style: normal;
}
.footer__left--socials .github {
  transition: 0.5 ease;
}
.footer__left--socials .github::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e91b";
  font-size: 24px;
  color: #fbfafa;
  font-style: normal;
}
.footer__left--socials .twitter {
  transition: 0.5 ease;
}
.footer__left--socials .twitter::before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e937";
  font-size: 24px;
  color: #fbfafa;
  font-style: normal;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: #fbfafa;
}

textarea {
  resize: none;
  width: 462px;
  height: 48px;
  background-color: #344955;
  color: #a3a3a3;
  opacity: 0.3;
  border: 1px solid #f9aa33;
  border-radius: 5px;
  padding: 15px 315px 14px 25px;
  margin-top: 1.5rem;
  overflow: hidden;
}

.text-area-msg {
  width: 462px;
  height: 125px;
  background-color: #344955;
  color: #a3a3a3;
  opacity: 0.3;
  border: 1px solid #f9aa33;
  border-radius: 0.3125rem;
  padding: 22px 275px 84px 24px;
  overflow: hidden;
}

.button-enviar {
  background-color: #344955;
  margin-top: 1.5rem;
  margin-left: 17.1875rem;
  width: 191px;
  height: 63px;
  color: #a3a3a3;
  opacity: 0.5;
  border: 1px solid #f9aa33;
  border-radius: 0.9375rem;
  overflow: hidden;
}

@-webkit-keyframes animate-icon-arrowdown {
  to {
    transform: translateY(-5px);
  }
}

@keyframes animate-icon-arrowdown {
  to {
    transform: translateY(-5px);
  }
}/*# sourceMappingURL=global.css.map */